---
import Header from '../components/Header.astro';
import PlateCard from '../components/PlateCard.astro';
import Cart from '../components/Cart.astro';
import { obtenerProductos } from '../lib/api.js';
import '../assets/css/style.css';

const productos = await obtenerProductos();
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tori & Roll</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" crossorigin="anonymous" />
  </head>

  <body>
    <Header />

    <section class="left-nav">
      <ul>
        <li><a href="">SUSHIS</a></li>
      </ul>
    </section>

    <section class="menu-view">
      <div class="menu-section-container">
        <h1 class="tittle-menu-section">PRODUCTOS</h1>
        <div class="plate-cards-container">
          <!-- He puesto any para que los reconozca el typscript,
          en un futuro cuando esté hecha entera la estructura la forma correcta de hacer
          esto es crear un tipo global en src/types/product.d.ts para que lo reconozca, 
          porque si no ahora mismo puede entrar cualquier tipo de dato ahí -->
          {productos.map((p : any) => (
            <PlateCard 
              name={p.nombre} 
              amount={p.cantidad ?? 1} 
              img="/src/assets/img/sushi.webp"
            />
          ))}
        </div>
      </div>
    </section>

    <Cart />
  </body>
</html>
