---
import ClientOrderItem from "./ClientOrderItem.astro"
---

<div class="ClientOrder">
    <h1 class="ClientOrderNumber">Pedido número: <span class="number"></span></h1>
    <table>
            <tr>
                <th>Plato</th>
                <th>Cantidad</th>
            </tr>
            <ClientOrderItem name="" ammount="" />
        </table>
</div>