---
const { name,description } = Astro.props;
---

<section class="ProductDesc">   
    <div class="ProductImg"></div>
    <div class="ProductContent">
        <h1 class="ProductTitle"></h1>
        <p></p>   
    </div>
</section>